footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid $border-soft;

  .site-info {
    text-align: center;
    color: $text-secondary;
    @include pc-layout {
      padding-bottom: 6px;
      font-size: $font-size-normal;
    }
    @include sp-layout {
      padding-bottom: 4px;
      font-size: $font-size-base;
    }

    a {
      color: $link-color;
      transition: color 0.3s ease-out, opacity 0.3s ease-out;
      &:hover {
        opacity: 0.75;
      }
    }

    .icon-heart {
      margin: 0 5px;
      color: $sakura-color;
    }
  }
}
